

/* 

    footer

*/

/* base classes */
.footer{
    display:grid;
    grid-template-columns:subgrid;
    grid-column:1/-1;
    background-color:var(--eggplant);
    padding-block:20px;
}

.footer-inner-wrapper{
    grid-column:4/14;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:20px;
}

.footer-sect{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.footer-sect-menu{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-sect-menu-item{
    color:var(--black-bean-2);
}

.footer-sect-title{
    font-size:1.2rem;
    font-weight:bold;
    border-bottom:1px solid var(--tiffany-blue);
    color:var(--tiffany-blue);
}

/* classes on event */
.footer-inner-wrapper-medium{
    grid-template-columns:repeat(2, 1fr);
}

.footer-inner-wrapper-small{
    grid-template-columns:auto;
}


