

/*

    --hero--

*/

/* base classes */
.hero{
    display:grid;
    grid-column:1/-1;
    grid-template-columns:subgrid;
    overflow:hidden;
    position:relative;
    padding-block:40px;
}

.hero-inner-wrapper{
    grid-column:3/13;
    display:flex;
    flex-direction:column;
    z-index:1;
    gap:40px;
}

.hero-bg{
    position:absolute;
    width:100%;
    height:100vh;
    left:0;
    object-fit:cover;
}

.hero-title{
    font-size:1.5rem;
    color:va(--black-bean-2);
    font-weight:bold;
}

.hero-intro{
    line-height:1.6;
    font-size:1.1rem;
}

.hero-action{
    font-size:1.2rem;
    background-color:var(--non-photo-blue);
    padding:10px;
    align-self:start;
    font-weight:bold;
    color:var(--eggplant);
}

