

:root{

    --silver: rgba(191, 181, 175, 1);
    --bone: rgba(236, 226, 208, 1);
    --pale-dogwood: rgba(213, 185, 178, 1);
    --rose-taupe: rgba(162, 103, 105, 1);
    --violet-jtc: rgba(88, 44, 77, 1);

}

*{
    padding:0;
    margin:0;
}

a{
    text-decoration:none;
    color:inherit;
}

body{
    display:grid;
    min-height:100vh;
    min-width:400px;
    grid-template-columns:repeat(16, 1fr);
    grid-template-rows:70px auto max-content;
}


/* 

    header

*/

/* header */
.header{
    grid-column:1/-1;
    grid-template-columns:subgrid;
    display:grid;
    z-index:1;
    position:sticky;
    top:0;
    background-color:var(--violet-jtc);
}

/* header inner wrapper */
.header-inner-wrapper{
    grid-column:3/15;
    display:flex;
    gap:40px;
    align-items:center;
}
.header-inner-wrapper-btwn{
    justify-content:space-between;
    gap:0;
}

/* site title */
.site-title{
    font-size:1.6rem;
    font-weight:bold;
}

/* nav wrapper */
.nav-wrapper{
    display:flex;
    gap:40px;
    flex-direction:column;
    transition:left 0.5s;
    background-color:var(--silver);
    padding:10px;
    box-sizing:border-box;
}
.nav-wrapper-contents{
    display:contents;
}
.nav-wrapper-fixed{
    position:fixed;
    top:0;
    width:250px;
    height:100vh;
    left:-250px;
}
.nav-wrapper-fixed-open{
    left:0;
}

/* nav close */
.nav-close{
    border-width:0;
    background-color:transparent;
    font-size:1.5rem;
    cursor:pointer;
    align-self:end;
    color:var(--violet-jtc);
}
.nav-close-none{
    display:none;
}

/* nav open */
.nav-open{
    border-width:0;
    background-color:transparent;
    font-size:1.5rem;
    cursor:pointer;
}
.nav-open-none{
    display:none;
}

/* page overlay */
.page-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:none;
    background-color:rgba(0,0,0,0.5);
}
.page-overlay-initial{
    display:initial;
}

/* nav */
.nav{
    display:flex;
    gap:20px;
}
.nav-col{
    flex-direction:column;
}

/* nav-item */
.nav-item{
    font-size:1.2rem;
}
.nav-item:hover{
    color:var(--silver);
}
.nav-item-align{
    text-align:center;
}
.nav-item-align:hover{
    color:var(--violet-jtc);
}



/* 

    main

*/

.main{
    display:grid;
    grid-template-columns:subgrid;
    grid-column:1/-1;
}


/* 

    search

*/

.search{
    grid-column:4/14;
}


/* 

    hero

*/

.hero{
    display:grid;
    grid-template-columns:subgrid;
    grid-column:1/-1;
}

.hero-inner-wrapper{
    grid-column:3/15;
}


/* 

    properties

*/

.properties{
    grid-column:1/-1;
    grid-template-columns:subgrid;
    display:grid;
}



/* 

    agents

*/

.agents{
    grid-column:1/-1;
    grid-template-columns:subgrid;
    display:grid;
}


/* 

    blog

*/

.blog{
    grid-column:1/-1;
    grid-template-columns:subgrid;
    display:grid;
}






























img{
    display:none;
}

